<app-header></app-header>
<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
	<div class="logo">
		<img src="assets/img/logo-image.png" alt="" />
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-flexslider" class="flexslider">
					<ul class="slides">
						<li>
						<p class="home-slide-content">
							<strong>creative</strong> and Intelligent
						</p>
						</li>
						<li>
						</li>
						<li>
						<p class="home-slide-content">
							Easy to <strong>connect</strong>
						</p>


						</li>
					</ul>
				</div>
				<!-- end slider -->
			</div>
		</div>
	</div>
	</header>
</div>

<section id="about" class="section">
<div class="container">
	<h4>About</h4>

	<div class="row">


  </div>

</div>
</section>
