<app-adminheader></app-adminheader>

<section id="about" class="section">
<div class="container">

  <div class="row">
    <div class="span2">
        <app-adminsidebar></app-adminsidebar>

    </div>
    <div class="span10">
      <div class="row">

		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-1.jpg" alt="" />
				<h3>John Doe</h3>
				<p>
					Art director
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-2.jpg" alt="" />
				<h3>Mike Doe</h3>
				<p>
					Web developer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-3.jpg" alt="" />
				<h3>Neil Doe</h3>
				<p>
					Web designer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-4.jpg" alt="" />
				<h3>Mark Joe</h3>
				<p>
					UI designer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-5.jpg" alt="" />
				<h3>Stephen B</h3>
				<p>
					Digital imaging
				</p>
			</div>
		</div>
	  <div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-1.jpg" alt="" />
				<h3>John Doe</h3>
				<p>
					Art director
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-2.jpg" alt="" />
				<h3>Mike Doe</h3>
				<p>
					Web developer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-3.jpg" alt="" />
				<h3>Neil Doe</h3>
				<p>
					Web designer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-4.jpg" alt="" />
				<h3>Mark Joe</h3>
				<p>
					UI designer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="assets/img/team/img-5.jpg" alt="" />
				<h3>Stephen B</h3>
				<p>
					Digital imaging
				</p>
			</div>
		</div></div>


    </div>

  </div>

 </div>
<!-- /.container -->
</section>
