<app-header></app-header>
<section id="about" class="section">
<div class="container">
	<div class="row">
    <div class="span12">
			<div class="cform" id="contact-form">
				<div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
				<form action="" method="post" role="form" class="contactForm">
					<div class="row">
						<div class="span6">
              <div class="field your-name form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="required" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
							</div>
              <div class="field your-email form-group">
								<input type="text" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"  data-msg="Please enter a valid email" />
                                <div class="validation"></div>
							</div>
              <div class="field your-email form-group">
								<input type="text" class="form-control" name="companyname" id="companyname" placeholder="Company Name" data-rule="required" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
							</div>
              <div class="field your-email form-group">
								<input type="text" class="form-control" name="departmentname" id="departmentname" placeholder="Department Name" data-rule="required"  data-msg="Please enter a valid email" />
                                <div class="validation"></div>
							</div>
							<div class="field your-name form-group">
								<input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="minlen:8" data-msg="Please enter at least 8 chars" />
                                <div class="validation"></div>
							</div>
						</div>
						<div class="span6">
              <div class="field your-name form-group">
								<input type="text" class="form-control" name="mobileno" id="mobileno" placeholder="Mobile No" data-rule="required" data-msg="Please enter valid mobile number" />
                                <div class="validation"></div>
							</div>
							<div class="field message form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
							</div>
							<input type="submit" value="Send message" class="btn btn-theme pull-left">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ./span12 -->





    </div>
  </div>
  </section>

